/***** Advanced JS. Prototypes. HomeWork_03. Field with colors (Event bubbling). *****/

body {
    width: 100%;
    height: 100vh;
    margin: 30px;
    background-color: #ddd;
}
h1 {
    font-size: 30px;
    color: red;
    line-height: 1.5;
    margin: 0 auto 30px;
    text-align: center;
}

/********** TABLE **********/

.table {
    margin: 50px auto;
    table-layout: fixed;
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    background-color: #fff;
    border: 3px solid rgb(1, 1, 58);
}

.cell {
    border: 2px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cell--black {
    background-color: #000;
}

.table--black .cell {
    background-color: #000;
}
.table--black .cell--black {
    background-color: #fff;
}